<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andly.administrator.andlydatabinding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".event_handing.MethodReferencesActivity" />
        <activity android:name=".event_handing.ListenerBindingActivity" />
        <activity android:name=".layout_detail.LayoutDetailActivity" >

        </activity>
        <activity android:name=".dataObj.DataObjActivity" />
        <activity android:name=".viewstub.StubViewActivity" />
        <activity android:name=".listview.MyListViewActivity">

        </activity>
        <activity android:name=".recycleView.RecycleViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".imageview.RenameBindingActivity">

        </activity>
    </application>

</manifest>